{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<h1>Housing Search Engine</h1>

<table align="left">
  <tr>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Status</th>
    <th>Size</th>
    <th>Price</th>
  </tr>

  {% for house in houses%}
    <tr>
      <td scope="row"> <a href="{{ url_for('show_details', id=house.living_space_id) }}"> {{house.address}} </a> </td>
      <td scope="row"> {{house.city}} </td>
      <td scope="row"> {{house.state}} </td>
      <td scope="row"> {{house.status}} </td>
      <td scope="row"> {{house.size_of_space}} </td>
      <td scope="row"> {{house.listed_price}} </td>
    </tr>
  {% endfor %}

</table>

{% endblock %}
