{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<h1>Housing Search Engine</h1>

  <label for="cities">Cities : </label>
  <select name="cities" id="cities" onfocus="this.selectedIndex = -1;">
      {% for item in cities %}
          <option value="{{item}}"> {{item}} </option>
      {% endfor %}
  </select>



  <label for="types">Type : </label>
  <select name="types" id="types" onfocus="this.selectedIndex = -1;">
      {% for item in types %}
          <option value="{{item}}"> {{item}} </option>
      {% endfor %}
  </select>

{% endblock %}




<!-- <html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style> -->


<!-- <body> -->

  <!-- <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div> -->






<!-- <p><a href="another">Go to the other page</a></p>

<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

</body>


</html> -->
